:root {
  --primary-light-color: #e4dfda;
  --primary-dark-color: #0c0910;
  --accent-purple: #791e94;
  --accent-beige: #de6449;
  --accent-blue: #407899;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen Mono", monospace;
}

.light {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
}

.dark {
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);

  a {
    color: var(--primary-light-color);
  }

  .btn {
    background-color: var(--accent-purple);
  }
}

/* Utilites */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-dark-color);
}

.btn {
  cursor: pointer;
  border: none;
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 3px;
  background-color: var(--accent-beige);
  color: #fff;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: "Oxygen Mono", monospace;
}
