/* CSS file for about component */

.aboutHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 90vh;
  margin-left: 20%;
}

.header h1 {
  font-size: 60px;
}

.hiThere {
  position: absolute;
  margin-left: 20px;
}
