/* CSS file for about component */

.aboutHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

/* Main h1 */
.header h1 {
  font-size: 60px;
  color: var(--accent-beige);
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  width: 120%;
  margin: 10px 0;
  font-family: "DM Mono", monospace;
}

.dark.header h1 {
  color: var(--accent-purple);
}

.hiThere {
  position: absolute;
}

.paul {
  color: var(--accent-purple);
}

.dark.paul {
  color: var(--accent-blue);
}

/* Text scroll  */
.firstParagraph {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.textScroll {
  background-color: var(--primary-light-color);
  border: 2px solid var(--accent-beige);
  margin: 0 5px;
  padding: 10px 0;
  width: 400px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  overflow: hidden;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
}

.dark.textScroll {
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  border: 2px solid var(--accent-blue);
}

.textScrollText {
  animation: bounce-in-right 3s ease infinite;
}

.secondParagraph {
  text-align: center;
}

.myWorkBtn {
  background-color: var(--accent-purple);
}

/* Animations  */
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
