/* CSS file for footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  padding-top: 10px;
  border-top: 1px solid var(--accent-beige);
}
