/* Custom CSS for Navbar */

.navbar {
  background-color: transparent;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 20px;
}

.linksContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.list {
  display: flex;
}

.listItem {
  padding: 0 10px;
  color: var(--primary-light-color);
}
